.col-12{

    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin: 10px;
}
.bi{
    font-size: 50px;

}

.bi-linkedin{
    color: blue;

}

.bi-apple{
    color: gray;
}

.apple{
    border: 1px solid gray;
}

.windows{
    border: 1px solid black;
}

.linkedin{
    border: 1px solid blue;
}

